<section>
  <h1>all the books</h1>
  <%= link_to "regresar", creators_path %>
  <ol>
    <% @books.each do |book| %>
      <li>
        <p>
          <strong>
            Book title:
          </strong>
          <%= book.title %>
        </p>
          <strong>
            Book pages:
          </strong>
          <%= book.pages %>
        </p>
        </p>
          <strong>
            Book author:
          </strong>
          <%= book.creator.name %>
        </p>
        <%= link_to "delete book", book_path(book.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to burn #{book.title}"}, class: "btn btn-danger" %>
      </li>
    <% end %>
  </ol>
</section>
