<section>
  <h1>create new book</h1>
  <%= console %>
  <%= simple_form_for([@creator, @book]) do |f| %>
    <%= f.input :title, label: "title" %>
    <%= f.input :pages, label: "pages" %>
    <%= f.submit "add book", class: 'btn btn-primary' %>
  <% end %>
</section>
