<section>
  <h1>more info about <%= @creator.name %></h1>
  <%= link_to "regresar", creators_path %>
  <h2><strong>Age: </strong><%=  @creator.age %></h2>
  <h2><strong>Nationality: </strong><%=  @creator.country %></h2>
  <h2><strong>Awards: </strong><%=  @creator.awards %></h2>
  <h2><strong>Career: </strong><%=  @creator.career %></h2>
  <h2><strong>Still writing? : </strong><%= @creator.active ? "Yes" : "No" %></h2>


</section>
